body {
    font-family: Arial, sans-serif;
    background-color: #313339; /* Changed background color */
    margin: 0;
    padding: 0;
    color: white; /* Added color for text */
}

h1 {
    text-align: center;
    color: white; /* Changed heading color */
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

form {
    background-color: #5765f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff; /* Changed label color */
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color:#ffcc4c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

/* Additional styles for student details */
#studentDetails {
    display: none;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    color: #333; /* Changed text color for student details */
}

.detail {
    margin-bottom: 10px;
    font-size: 16px;
}

.detail span {
    font-weight: bold;
}

.detail-content {
    color: #333;
}
